<!--templates/registration/password_reset_confirm.html-->
{% extends 'base.html' %}
{% block title %}Set a new password!{% endblock %}
{% block content %}
<style>
#id_new_password1{width: 100%; font-size: .875em;}
#id_new_password2{width: 100%; font-size: .875em;}
form > label {margin: .6rem 0 0 0; font-size: .875em;}
form > ul {font-size: .875em;}
form > button {margin: .6rem 0 0 0;}
form > * {display:block;}
</style>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 20rem;">
        {% if validlink %}
        <div class="card-header">
            Set a new password!
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary btn-sm" type="submit" value="Change my password">
            </form>
        </div>
        {% else %}
        <div class="card-header">
            The password reset link was invalid
        </div>
        <div class="card-body">
            <p>The password reset link was invalid,
                possibly because it has already been used.
                Please request a new password reset.</p>
        </div>
        <div class="card-footer text-end">
            <a class="text-muted" href="/accounts/password_reset/">
                <small>Password Reset</small>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}