<!--templates/registration/password_reset_complete.html-->
{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 22rem;">
        <div class="card-header">
            Password reset complete
        </div>
        <div class="card-body">
            <p>Your new password has been set. <br/>
                You can log in now on the
                <a href="{% url 'login' %}">log in page</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}